

.container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 45rem;
}

/* TABLE STYLES!!! */

.table1 {
    background-color: lightsteelblue;
    border: 3px solid white;
    margin-bottom: 10px;
    min-width: 400px;
    font-size: 1.2rem;
    font-weight: bold;
}
.table1 th {
    background-color: rgba(110, 112, 146, 0.205);
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}
.table1 td {
    padding: 5px 1px 2px 7px ;
}
.table1 tr {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-collapse: collapse;
}
.table1 tbody tr:nth-of-type(even) {
    background-color: rgb(193, 205, 221);
}
.tdLong {
    width: 200%;
}

body {
    background: #314755;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #26a0da, #314755);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #26a0da, #314755); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Courier New', Courier, monospace;
}

caption {
    padding-bottom: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
}

colgroup {
    text-decoration: limegreen;
}
