
$color-heading: #99ff66;
$div-background: #093981;
$shadow-color: #45dfb3;
$form-head: rgb(192, 190, 190);
$input: rgb(110, 136, 130);
$text-area: #012d6e;
$invalid: rgb(138, 45, 48);

$padd: 1.7rem;
$marg: 2rem;
